{
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": ["@babel/preset-env"],
    },
    "renderer": {
      "presets": ["@babel/preset-env"],
    },
    "web": {
      "presets": ["@babel/preset-env"],
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
